<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--适配移动端 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <!--<title>推荐位管理</title>-->
    <title>banner</title>
    <script type="text/javascript" src="../node_modules/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="../jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <!--<link rel="stylesheet" type="text/css"-->
          <!--href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../layDate-v5.0.9/laydate/laydate.js"></script> <!--时间控件-->
    <script type="text/javascript" src="../js/utils/apis.js"></script>
    <script type="text/javascript" src="../js/utils/http.js"></script> <!--封装接口请求-->
    <script type="text/javascript" src="../js/utils/formatTime.js"></script> <!--时间格式化-->
    <!--<script type="text/javascript" src='https://unpkg.com/qiniu-js@2.5.3/dist/qiniu.min.js'></script> &lt;!&ndash;七牛云图片上传所需&ndash;&gt;-->
    <script type="text/javascript" src="./../qiniu-js/qiniu.min.js"></script> <!--七牛云图片上传所需-->
    <script type="text/javascript" src="../js/utils/qiniuUpload.js"></script> <!--封装的七牛云图片上传-->
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/menu.css" rel="stylesheet">
    <link href="../css/recommend.css" rel="stylesheet">
</head>

<body>
<div id="LoadMenu" class="left">
    <load-menu></load-menu>
</div>

<div id="LoadVoice" style="position: fixed">
    <load-voice></load-voice>
</div>

<div class="right">
    <div class="jumbotron" id="recommend">
        <!-- 类目 搜索栏 -->
        <div class="title item">
            <h4>banner</h4>
            <button type="button" class="btn btn-danger" v-on:click="window.location.href = 'addRecommend'">添加banner
            </button>
        </div>

        <div class="nav-1">
            <ul class="nav nav-tabs">
                <li v-bind:class="(index == navId ? 'active' : '')" v-for="item,index in navList"
                    v-on:click="changeNav(index)"><a href="javascript:;">{{item}}</a></li>
            </ul>
        </div>

        <div class="goods" style="border-top: 0">
            <!-- 商品标题 -->
            <nav class="navbar navbar-default" role="navigation">
                <div class="item">
                    <!--<span class="second-title have-border column-center">-->
                    <!--<span class="row-center pointer" v-on:click="changeCaret(1)">广告类型<span id="collapse1" class="caret-right"></span></span>-->
                    <!--<div id="collapse-container1" class="isshow none">-->
                    <!--<div class="type-container pointer">-->
                    <!--<span class="first-title column-center">轮播型</span>-->
                    <!--</div>-->
                    <!--<div class="type-container pointer">-->
                    <!--<span class="first-title column-center">弹窗型</span>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</span>-->
                    <span class="first-title have-border column-center">名称</span>
                    <span class="first-title have-border column-center">banner图片</span>
                    <span class="second-title have-border column-center">类型</span>
                    <span class="second-title have-border column-center">排序</span>
                    <span class="second-title have-border column-center">状态</span>
                    <span class="second-title column-center">操作</span>
                </div>

            </nav>

            <!-- 商品详情 -->
            <!--<div class="goods-container">-->
            <!--<div class="second-title column-center">-->
            <!--轮播型-->
            <!--</div>-->
            <!--<div class="first-title">-->
            <!--<label class="form-check-label row-center">-->
            <!--<div class="a">-->
            <!--<span>在埃及与宿敌DIO的死斗之后过了11年。1999年，空条承太郎为了与祖父乔瑟夫·乔斯达的私生子东方仗助见面，而来到了日本M县S市杜王町。但，仗助却持有与承太郎相同的特殊能力“替身”。之后，以承太郎的来访为开端，仿佛被吸引一般，新的“替身使”们开始行动。“这座城镇存在着什么……”为了守护养育了自己的杜王町，仗助挺身而出——。</span>-->
            <!--</div>-->
            <!--</label>-->
            <!--</div>-->
            <!--<div class="first-title column-center">-->
            <!--<label class="form-check-label row-center">-->
            <!--<div class="a">-->
            <!--&lt;!&ndash; <input type="checkbox" name=""> &ndash;&gt;-->
            <!--<img src="../images/logo.png">-->
            <!--</div>-->
            <!--</label>-->
            <!--</div>-->
            <!--<div class="second-title column-center">-->
            <!--1-->
            <!--</div>-->

            <!--<div class="second-title column-center">-->
            <!--<button type="button" class="btn btn-danger">点击开启</button>-->
            <!--</div>-->
            <!--<div class="second-title column-center">-->
            <!--<button type="button" class="btn btn-link">编辑</button>-->
            <!--<button type="button" class="btn btn-link">删除</button>-->
            <!--</div>-->
            <!--</div>-->

            <div class="goods-container" v-for="item,index in recoList">
                <!--<div class="second-title column-center">-->
                <!--{{item.type == 0 ? '轮播型' : '弹窗型'}}-->
                <!--</div>-->
                <div class="first-title">
                    <label class="form-check-label row-center">
                        <div class="a">
                            <span class="column-center">{{item.text}}</span>
                        </div>
                    </label>
                </div>
                <div class="first-title column-center">
                    <label class="form-check-label row-center">
                        <div class="a">
                            <!-- <input type="checkbox" name=""> -->
                            <img :src="item.image">
                        </div>
                    </label>
                </div>
                <div class="second-title column-center" v-if="item.url">
                    <!--<button type="button" class="btn" v-bind:class="item.state == 0 ? 'btn-danger' : 'btn-secondary'"-->
                    <!--v-on:click="changeStatus(item.id,item.state)">{{item.state == 0 ? '点击禁用' : '点击开启'}}-->
                    <!--</button>-->
                    {{item.url.indexOf('activity') > 0 ? '多商品' : '单商品'}}
                </div>
                <div class="second-title column-center" v-else>
                    <!--<button type="button" class="btn" v-bind:class="item.state == 0 ? 'btn-danger' : 'btn-secondary'"-->
                            <!--v-on:click="changeStatus(item.id,item.state)">{{item.state == 0 ? '点击禁用' : '点击开启'}}-->
                    <!--</button>-->
                    <!--{{item.url.indexOf('activity') > 0 ? '多商品' : '单商品'}}-->
                    {{item.type == 2 ? '优惠券' : '无链接'}}
                </div>
                <div class="second-title column-center">
                    <!--{{item.sort}}-->
                    <input class="form-control" style="min-width:30px" v-bind:value="item.sort"
                           v-model="item.sort" v-on:keyUp.enter="updateSort(item.id,item.sort)"
                           oninput="value=value.replace(/[^\d]/g,'')"/>
                </div>

                <div class="second-title column-center">
                    <button type="button" class="btn" v-bind:class="item.state == 0 ? 'btn-danger' : 'btn-secondary'"
                            v-on:click="changeStatus(item.id,item.state)">{{item.state == 0 ? '点击禁用' : '点击开启'}}
                    </button>
                </div>
                <div class="second-title column-center">
                    <!--<button type="button" class="btn btn-link" v-on:click="editRecommend(item.id)">编辑</button>-->
                    <button v-if="item.type != 2" type="button" class="btn btn-link" v-on:click="delItem(item.id,item.text)"
                            data-toggle="modal"
                            data-target="#myModal">删除
                    </button>
                </div>
            </div>

        </div>

        <!-- 分页栏 -->
        <!--<ul class="pagination">-->
        <!--<li><a href="#">&laquo;</a></li>-->
        <!--<li class="active"><a href="#">1</a></li>-->
        <!--<li class="disabled"><a href="#">2</a></li>-->
        <!--<li><a href="#">3</a></li>-->
        <!--<li><a href="#">4</a></li>-->
        <!--<li><a href="#">5</a></li>-->
        <!--<li><a href="#">&raquo;</a></li>-->
        <!--</ul>-->
        <ul class="pagination">
            <li v-on:click="getPage(last_id-1 >= 0 ? last_id-1 : last_id)"><a href="javascript:;">&laquo;</a></li>
            <li v-for="item,index in pageList" v-on:click="getPage(index)"
                v-bind:class="(item == last_id+1 ? 'active' : '')"><a
                    href="javascript:;">{{item}}</a></li>
            <li v-on:click="getPage(last_id+1 < pageList[pageList.length-1] ? last_id+1 : last_id)"><a
                    href="javascript:;">&raquo;</a>
            </li>
        </ul>


    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="title"></h4> <!--标题-->
                </div>
                <div class="modal-body" id="content"><span></span></div> <!--是否删除...-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="delAd()">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>

<script type="text/javascript" src="../js/voiceReminder.js"></script>
<script type="text/javascript" src="../js/menu.js"></script>
<script type="text/javascript" src="../js/recommend.js"></script>
</body>
</html>