<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--适配移动端 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <title>店基础配置</title>
    <script type="text/javascript" src="../node_modules/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="../jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <!--<link rel="stylesheet" type="text/css"-->
    <!--href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../layDate-v5.0.9/laydate/laydate.js"></script> <!--时间控件-->
    <script type="text/javascript" src="../js/utils/apis.js"></script>
    <script type="text/javascript" src="../js/utils/http.js"></script> <!--封装接口请求-->
    <script type="text/javascript" src="../js/utils/formatTime.js"></script> <!--时间格式化-->
    <!--<script type="text/javascript" src='https://unpkg.com/qiniu-js@2.5.3/dist/qiniu.min.js'></script> &lt;!&ndash;七牛云图片上传所需&ndash;&gt;-->
    <script type="text/javascript" src="./../qiniu-js/qiniu.min.js"></script> <!--七牛云图片上传所需-->
    <script type="text/javascript" src="../js/utils/qiniuUpload.js"></script> <!--封装的七牛云图片上传-->
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/menu.css" rel="stylesheet">
    <link href="../css/store.css" rel="stylesheet">
</head>

<body>
<div id="LoadMenu" class="left">
    <load-menu></load-menu>
</div>

<div id="LoadVoice" style="position: fixed">
    <load-voice></load-voice>
</div>

<div class="right">
    <div class="jumbotron" id="store">
        <!-- 类目 搜索栏 -->
        <div class="title item">
            <h4>店基础配置</h4>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal"
                    v-on:click="toAddStore()">添加店铺
            </button>
        </div>

        <div class="goods">
            <!-- 商品标题 -->
            <nav class="navbar navbar-default" role="navigation">
                <div class="item">
                    <span class="first-title have-border column-center">店名</span>
                    <span class="second-title have-border column-center">打印终端码</span>
                    <span class="second-title have-border column-center">坐标</span>
                    <span class="second-title have-border column-center">客服号码</span>
                    <span class="second-title have-border column-center">配送费</span>
                    <span class="second-title have-border column-center">免配送费额度</span>
                    <span class="second-title have-border column-center">距离</span>
                    <span class="second-title have-border column-center">营业时间</span>
                    <!--<span class="second-title have-border column-center">创建时间</span>-->
                    <span class="second-title column-center">操作</span>
                </div>
            </nav>

            <div class="goods-container" v-for="item,index in storeList">
                <div class="first-title column-center">
                    <span>{{item.name}}</span>
                </div>
                <div class="second-title column-center">
                    <span>{{item.machine_code}}</span>
                </div>
                <div class="second-title column-center">
                    <span>{{item.location}}</span>
                </div>
                <div class="second-title column-center">
                    <span>{{item.phone}}</span>
                </div>
                <div class="second-title column-center">
                    <span>{{item.delivery_fee}}</span>
                </div>
                <div class="second-title column-center">
                    <span>{{item.free_delivery_fee}}</span>
                </div>
                <div class="second-title column-center">
                    <span>{{item.distance}}</span>
                </div>
                <div class="second-title column-center">
                    <span>{{item.start_time}} - {{item.end_time}}</span>
                </div>
                <!--<div class="second-title column-center">-->
                    <!--<span>{{item.create_time}}</span>-->
                <!--</div>-->
                <div class="second-title column-center">
                    <!--<button type="button" class="btn " :class="item.state == 0 ? 'btn-danger' : 'btn-secondary'"-->
                            <!--v-on:click="changeStatus(item.id,item.state)">{{item.state == 0 ? "点击禁用" : "点击开启"}}-->
                    <!--</button>-->
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal"
                            v-on:click="toUpdateStore(item.id)">编辑</button>
                    <button v-if="index > 0" type="button" class="btn btn-link" v-on:click="toDelStore(item.id)">删除
                    </button>
                </div>
            </div>

        </div>

        <!-- 分页栏 -->
        <!--<ul class="pagination">-->
        <!--<li v-on:click="getPage(last_id-1 >= 0 ? last_id-1 : last_id)"><a href="javascript:;">&laquo;</a></li>-->
        <!--<li v-for="item,index in pageList" v-on:click="getPage(index)"-->
        <!--v-bind:class="(item == last_id+1 ? 'active' : '')"><a-->
        <!--href="javascript:;">{{item}}</a></li>-->
        <!--<li v-on:click="getPage(last_id+1 < pageList[pageList.length-1] ? last_id+1 : last_id)"><a href="javascript:;">&raquo;</a>-->
        <!--</li>-->
        <!--</ul>-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" id="name" type="text" name=""
                               v-model="name" style="margin-bottom: 6px" placeholder="店名"/>
                        <input type="text" class="form-control" id="machine_code" type="text" name=""
                               v-model="machine_code" style="margin-bottom: 6px" placeholder="打单终端码"/>
                        <input type="text" class="form-control" id="location" type="text" name=""
                               v-model="location" style="margin-bottom: 6px" placeholder="坐标"/>
                        <a href="https://lbs.qq.com/tool/getpoint/" target="_blank">*点击获取地理位置</a>
                        <input type="text" class="form-control" id="phone" type="text" name=""
                               v-model="phone" style="margin-bottom: 6px" placeholder="电话"
                               oninput="value=value.replace(/[^\d]/g,'')"/>
                        <input type="text" class="form-control" id="delivery_fee" type="text" name=""
                               v-model="delivery_fee" style="margin-bottom: 6px" placeholder="配送费"
                               oninput="value=value.replace(/[^\d.]/g,'')"/>
                        <input type="text" class="form-control" id="free_delivery_fee" type="text" name=""
                               v-model="free_delivery_fee" style="margin-bottom: 6px" placeholder="多少钱免配送费"
                               oninput="value=value.replace(/[^\d.]/g,'')"/>
                        <input type="text" class="form-control" id="distance" type="text" name=""
                               v-model="distance" style="margin-bottom: 6px" placeholder="配送距离（米）"
                               oninput="value=value.replace(/[^\d]/g,'')"/>
                        <input type="text" class="form-control" id="test5_1" style="width: auto;display: inline-block;"
                               placeholder="选择起始时间" v-model="start_time">
                        <div class="line"></div>
                        <input type="text" class="form-control" id="test5_2" style="width: auto;display: inline-block;"
                               placeholder="选择截止时间" v-model="end_time">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" v-on:click="submitStoreLocation()">确定</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

    </div>
</div>

<script type="text/javascript" src="../js/voiceReminder.js"></script>
<script type="text/javascript" src="../js/menu.js"></script>
<script type="text/javascript" src="../js/store.js"></script>
</body>
</html>