label{
    margin-bottom: 0;
    font-weight:300;
}

.jumbotron{
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.jumbotron .title{
    margin-bottom: 40px;
    /*height: 60px*/
}

.item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sort-title{
    /*border: 1px solid #E4E4E4;*/
    margin-top: 10px;
    min-width: 900px;
}

.sort-title>nav{
    border: 0;
    margin-bottom: 0;
}

.sort-title>nav .item{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}

a{
    color: #2E2E2E
}

.sort{
    border: 1px solid #E4E4E4;
    margin-top: 10px;
    min-width: 900px;
}

.sort>nav{
    border: 0;
    margin-bottom: 0;
}

.sort>nav .item{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}

.first-title{
    flex:2;
}

.second-title{
    flex:1;
}


.column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-center{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-default .btn-link{
    color:#1598E3;
}

.goods-sort-container .btn-link{
    color:#1598E3;
}

.btn{
    padding: 2px 10px;
}

.caret-right{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-left: 4px dashed;
    border-left: 4px solid \9;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

.pointer{
    cursor: pointer;
}

.goods-sort-container{
    /*padding: 20px 0 20px 0;*/
    height: 60px;
    line-height: 60px;
    width: 100%;
    border-bottom: 1px solid #EBEAEB;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.none{
    display: none;
}

.btn-secondary{
    /*position: absolute;*/
    left: 12%;
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
    /*margin-left: 10%;*/
}

.popover-title{
    background-color: #fff;
    border-bottom:0;
    padding: 8px 14px 6px 14px;
}

.modal-dialog{
    margin: 8% auto;
}

/*图*/
.goods-img {
    width: 80px;
    height: 80px;
    border: 1px dashed #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.getImg {
    width: 80px;
    height: 80px;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}

.imgShow {
    position: relative;
}

.imgShow .imgSrc {
    width: 80px;
    height: 80px;
    margin-left: 20px;
    border: 1px dashed #ddd;
}

.imgShow .imgDel {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    transform: translate(50%, -50%);
    cursor: pointer;
}

.imgShow .imgDel:hover {
    background-color: #f9f9f9;
}

.goods-img:hover {
    border-color: #777;
}

.goods-img:hover .abs {
    background: #3A3A3A
}

.abs {
    display: inline-block;
    background: #9a9a9a;
    top: 50%;
    left: 50%;
    position: absolute;
}

.img-c {
    margin-left: -1px;
    margin-top: -8px;
    height: 16px;
    width: 2px;
}

.img-r {
    margin-left: -8px;
    margin-top: -1px;
    height: 2px;
    width: 16px;
}