/*body {*/
    /*display: flex;*/
    /*flex-direction: row;*/
/*}*/

/*.left {*/
    /*position: fixed;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*height: 100%;*/
    /*width: 190px;*/
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
    /*z-index: 2;*/
/*}*/

/*.right {*/
    /*!*position: fixed;*!*/
    /*padding-left: 240px;*/
    /*padding-right: 50px;*/
    /*width: 100%;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*height: 100%;*/
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
/*}*/

.btn-secondary {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
    margin-left: 20px;
}

@media (max-device-width:480px) {
    .left {
        float: none;
    }
}

@media (min-width: 768px) {
    body {
        display: flex;
        flex-direction: row;
    }

    .left {
        position: fixed;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 190px;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 2;
    }

    .right {
        /*position: fixed;*/
        padding-left: 240px;
        padding-right: 50px;
        width: 100%;
        left: 0;
        bottom: 0;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.loading {
    width: 160px;
    height: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 56px;
    color: #fff;
    padding-left: 60px;
    font-size: 15px;
    background: #000 url(../images/loading.gif) no-repeat 10px 50%;
    opacity: 0.7;
    z-index: 9999;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}